<div class="card" style="width: 36rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <%# Affiche le contenu capturé via content_for %>
    <%= yield %>
  </div>
</div>